<form (ngSubmit)="submit()" [formGroup]="contactForm" class="field-box form">
  <app-field-box [error]="errors.name">
    <input formControlName="name" type="text" placeholder="Nome..." />
    <app-error-message
      *ngIf="errors.name?.['required'] &&
      contactForm.get('name')?.dirty "
    >
      Nome obrigatório
    </app-error-message>
    <app-error-message *ngIf="errors.name?.['minlength']">
      Mínimo de 3 caracteres
    </app-error-message>
  </app-field-box>
  <app-field-box [error]="errors.email">
    <input formControlName="email" type="email" placeholder="Email..." />
    <app-error-message
      *ngIf="errors.email?.['required'] &&
      contactForm.get('email')?.dirty "
    >
      Email obrigatório
    </app-error-message>
    <app-error-message *ngIf="errors.email?.['email'] "
      >Email inválido</app-error-message
    >
  </app-field-box>
  <app-field-box [error]="errors.phone">
    <input formControlName="phone" type="text" placeholder="(00)00000-0000" />
    <app-error-message
      *ngIf="errors.phone?.['required'] &&
      contactForm.get('phone')?.dirty"
    >
      Telefone obrigatório
    </app-error-message>
  </app-field-box>
  <app-field-box [error]="errors.area">
    <select formControlName="area">
      <option value="">Selecione uma área</option>
      <option value="administrativo">Administrativo</option>
      <option value="rh">Recursos Humanos</option>
      <option value="comercial">Comercial</option>
    </select>
    <app-error-message
      *ngIf="errors.area?.['required'] &&
      contactForm.get('area')?.dirty "
    >
      Selecione uma área de contato
    </app-error-message>
  </app-field-box>
  <app-field-box [error]="errors.message">
    <textarea formControlName="message" placeholder="Mensagem..."></textarea>
    <app-error-message
      *ngIf="errors.message?.['required'] &&
      contactForm.get('message')?.dirty"
    >
      Mensagem obrigatória
    </app-error-message>
    <app-error-message *ngIf="errors.area?.['minlength']"
      >Mínimo de 10 caracteres</app-error-message
    >
  </app-field-box>
  <button class="btn solid" type="submit">Enviar Mensagem</button>
</form>
