.container {
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem;
  max-width: 67.5rem;

  &.sm{
    max-width: 53.125rem;

  }
}

.box {
  padding: clamp(2.5rem, 4vw,4.375rem);
  background-color: var(--color-white);
}
