%field{
  width: 100%;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 8px;
  transition: 0.8s;
  outline: none;
  border: 2px solid var(--color-blue);
}

.field-box {
  width: 100%;

  input {
    @extend %field;
    height: 3.5rem;
    padding: 0 1.25rem;
  }

  select {
    @extend %field;
    height: 3.5rem;
  }

  textarea {
    @extend %field;
    padding: 1.25rem;
    resize: none;
    height: 7.125rem;
  }

  &.error{
    input, select, textarea{
      border-color: var(--color-orange);
    }
  }
}